# import required library

In [ ]:
import pandas as pd
import string
import nltk
from keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split

# read dataset and do pre-processing

In [ ]:
df = pd.read_csv("spam.csv", encoding="ISO-8859-1")
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [ ]:
x = df["v2"]
y = df["v1"]

In [ ]:
# converting text to lower case
x = x.apply(lambda x:x.lower())
x

0       go until jurong point, crazy.. available only ...
1                           ok lar... joking wif u oni...
2       free entry in 2 a wkly comp to win fa cup fina...
3       u dun say so early hor... u c already then say...
4       nah i don't think he goes to usf, he lives aro...
                              ...
5567    this is the 2nd time we have tried 2 contact u...
5568                will ì_ b going to esplanade fr home?
5569    pity, * was in mood for that. so...any other s...
5570    the guy did some bitching but i acted like i'd...
5571                           rofl. its true to its name
Name: v2, Length: 5572, dtype: object

In [ ]:
# removing punctuation
def remove_punctuations(s):
    punc_free_string = "".join([i for i in s if i not in string.punctuation])
    return punc_free_string
x = x.apply(remove_punctuations)
x

0       go until jurong point crazy available only in ...
1                                 ok lar joking wif u oni
2       free entry in 2 a wkly comp to win fa cup fina...
3             u dun say so early hor u c already then say
4       nah i dont think he goes to usf he lives aroun...
                              ...
5567    this is the 2nd time we have tried 2 contact u...
5568                  will ì b going to esplanade fr home
5569    pity  was in mood for that soany other suggest...
5570    the guy did some bitching but i acted like id ...
5571                            rofl its true to its name
Name: v2, Length: 5572, dtype: object

In [ ]:
# tokenize the words
x = x.apply(nltk.tokenize.word_tokenize)
x

0       [go, until, jurong, point, crazy, available, o...
1                          [ok, lar, joking, wif, u, oni]
2       [free, entry, in, 2, a, wkly, comp, to, win, f...
3       [u, dun, say, so, early, hor, u, c, already, t...
4       [nah, i, dont, think, he, goes, to, usf, he, l...
                              ...
5567    [this, is, the, 2nd, time, we, have, tried, 2,...
5568         [will, ì, b, going, to, esplanade, fr, home]
5569    [pity, was, in, mood, for, that, soany, other,...
5570    [the, guy, did, some, bitching, but, i, acted,...
5571                     [rofl, its, true, to, its, name]
Name: v2, Length: 5572, dtype: object

In [ ]:
# stop word removal
stopwords = nltk.corpus.stopwords.words('english')
def remove_stopwords(ls):
    return [i for i in ls if i not in stopwords]
x = x.apply(remove_stopwords)
x

0       [go, jurong, point, crazy, available, bugis, n...
1                          [ok, lar, joking, wif, u, oni]
2       [free, entry, 2, wkly, comp, win, fa, cup, fin...
3           [u, dun, say, early, hor, u, c, already, say]
4       [nah, dont, think, goes, usf, lives, around, t...
                              ...
5567    [2nd, time, tried, 2, contact, u, u, å£750, po...
5568                   [ì, b, going, esplanade, fr, home]
5569                     [pity, mood, soany, suggestions]
5570    [guy, bitching, acted, like, id, interested, b...
5571                                   [rofl, true, name]
Name: v2, Length: 5572, dtype: object

In [ ]:
lemmatizer = nltk.stem.WordNetLemmatizer()
def lemmatize(ls):
    return [lemmatizer.lemmatize(i) for i in ls]
x = x.apply(lemmatize)
x

0       [go, jurong, point, crazy, available, bugis, n...
1                          [ok, lar, joking, wif, u, oni]
2       [free, entry, 2, wkly, comp, win, fa, cup, fin...
3           [u, dun, say, early, hor, u, c, already, say]
4       [nah, dont, think, go, usf, life, around, though]
                              ...
5567    [2nd, time, tried, 2, contact, u, u, å£750, po...
5568                   [ì, b, going, esplanade, fr, home]
5569                      [pity, mood, soany, suggestion]
5570    [guy, bitching, acted, like, id, interested, b...
5571                                   [rofl, true, name]
Name: v2, Length: 5572, dtype: object

In [ ]:
# converting to bag of words
x = x.apply(lambda i: " ".join(i))

In [ ]:
y = y.apply(lambda i: 1 if i == "spam" else 0)

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y)

In [ ]:
y_train.shape

(4179,)

In [ ]:
max_words = 1000
max_len = 150
tokenizer = Tokenizer(max_words)
tokenizer.fit_on_texts(x_train)
sequences = tokenizer.texts_to_sequences(x_train)
sequences_mat = pad_sequences(sequences, maxlen = max_len)

# Create model

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Embedding, Dropout
import tensorflow as tf

model = Sequential()

# Add Layers (LSTM, Dense-(Hidden Layers), Output)

In [ ]:
model.add(Embedding(max_words, 50, input_length=max_len))
model.add(LSTM(256))
model.add(Dropout(0.5))
model.add(Dense(100, activation='relu'))
model.add(Dense(10, activation='relu'))
model.add(Dense(1, activation=tf.keras.activations.sigmoid))

# compile the model

In [ ]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# fit the model

In [ ]:
model.fit(sequences_mat, y_train)

131/131 [==============================] - 51s 348ms/step - loss: 0.4200 - accuracy: 0.8579

# saving the model

In [ ]:
model.save("lstm_model.h5")

# test the model

In [ ]:
test_sequences = tokenizer.texts_to_sequences(x_test)
test_sequences_matrix = pad_sequences(test_sequences,maxlen=max_len)
test_sequences_matrix

array([[  0,   0,   0, ..., 719, 281,  10],
       [  0,   0,   0, ...,  96, 273, 136],
       [  0,   0,   0, ...,   0,  33,  96],
       ...,
       [  0,   0,   0, ..., 826,  34,   1],
       [  0,   0,   0, ...,   0, 211, 291],
       [  0,   0,   0, ...,   0,  56,  18]])

In [ ]:
accr = model.evaluate(test_sequences_matrix,y_test)
print('Accuracy:',accr[1])
print('Loss:',accr[0])

44/44 [==============================] - 10s 196ms/step - loss: 0.3574 - accuracy: 0.8744
Accuracy: 0.8743718862533569
Loss: 0.3573870062828064